*{
    margin: 0;
    padding: 0;
}

.green-line {
    background-color: #37a14c;
}

header .green-line {
    min-height: 45px;
    line-height: 45px;
    color: #fff;
}

.container {
    max-width: 990px;
    margin: auto;   
}

.float-container:after {
    content: '';
    display: block;
    clear: both;   
}

.left {
    float: left;
}
.right {
    float: right;
}

header .right a{
    margin-left: 5px;
    display: inline-block;
}
header .right img {
    vertical-align: middle;
}
.admin-container {
    margin-right: 25px;
}

.admin-container .margin-left {
    margin-left: 95px;
    display: block;
}
.admin-container,.admin-container a{
    color: #0f680e;
    font-size: 20px;
    text-decoration: none;
}
.admin-container .skype span{
    color: #000;
 }
.admin-container .skype {
    margin-top: 10px;
}
.admin-container .skype a {
    color: #1200ff;
}
.admin-container .skype img {
    vertical-align: middle;
}
.admin-container .margin-left a {
    display: block;
    margin-bottom: 10px;
}
.change-server {
    width: 100%;
    max-width: 135px;
}
.change-server a {
    display: block;
    max-width:135px;
    height: 35px;
    line-height: 35px;
    color: #fff;
    background-color: #fdcf09;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow:  0 5px 0 0 #000;
    text-align: center;
}
.header_info {
    padding: 10px 0;
}
header .logo {
    margin-right: 40px;
}

header .right-logo a{
    margin-top: 15px;
}
.main-menu {
    text-align: center;
}
.main-menu li{
    width: 20%;
    list-style: none;
    border-right: 1px solid #000;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.main-menu li:first-child {
    border-left: 1px solid #000;
}

.main-menu a {
    color: #fff;
    display: block;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}
.main-menu a:hover {
    background-color: #43d35f;
}
.main-menu ul {
    height: 45px;
    line-height: 45px;
}

main aside{
    float: left;
    width: 230px;
}

main article {
    margin-left: 250px;
}
img {
    max-width: 100%;
}

.aside-nav .sub-menu {
    display: none;
}
.aside-nav li:hover .sub-menu {
    display: block;
}
.aside-nav li {
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
}
.aside-nav li:first-child {
    padding-top: 0;
}

.aside-nav a {
    color: #000;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}
.sub-menu {
    padding: 20px 10px;
}
.sub-menu a {
    color: red;
    font-size: 16px;
    font-weight: 400;
}
.sub-menu {
    margin-bottom: 10px;
}
.sub-menu li {
    margin-bottom: 10px;
    border: none;
    padding: 0;
}
ul li {
    list-style: none;
}

section h1 {
    margin-bottom: 20px;
}
hr {
    margin: 40px 0;
    border:1px solid #e7e7e7;
}
.sect-2 .left {
    max-width: 31.7%;
    margin-right: 2.4%;
}
.sect-2 .left:last-child {
    margin-right: 0;
}

.sect-2 .top-description {
    min-height: 90px;
    background-color: #309444;
    border-bottom: 1px solid #57e974;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 14px 10px;
}
.sect-2 img {
    width: 100%;
}

.box p {
    color: #fff;
}

.box .data {
    font-weight: 600;
    color: #000;
}
.sect-3 .container{
    padding: 0;
}
